@page "/viewcustomer/{customerId}"

@inject ICustomerService CustomerService

@if (Customer != null)
{
    <h2>CustomerId: @Customer.CustomerId</h2>

    <div class="row">
        <div class="col-3">
            Company Name: 
        </div>
        <div class="col-9">
            @Customer.CompanyName
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public string customerId { get; set; }

    public Customer Customer;

    protected override async Task OnInitializedAsync()
    {
        Customer = await CustomerService.GetCustomerById(customerId);
    }

}
